<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>deta详情</title>
    <style>
        
    </style>
</head>
<body>
    <header class="head-sai">
        <div><p id="p_Click"></p>方案详情</div>
    </header>
   
    <section class="sect-one" id="hea">
        <img style="position:absolute;z-index:-1;width:10rem;height:10rem;left:50%;top:50%;transform: translate(-50%, -50%);" src="images/loading_1.gif" alt="">
    </section>
    <section class="sect-two">
    </section>
    <div class="div-fixed">
    </div>
</body>
</html>