<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>注册送红包</title>
</head>
<body>
    <!-- <header class="header" style="background:transparent;z-index:100">
        <p class="head_lf" id="regsendBonus_backbtn"><span class="backicon icon"></span></p>
        <p class="head_rt" data-t="share" id="regsendBonus_shareObj"><a class="shareicon icon" ></a></p> dltBonus_backbtn
    </header> -->
    <div class="invite-wrap" style="background: #fe4324;" id="invsendBonus_wrapper">
        <header>
            <div class="hea_div">
                <p class="head_p" style="background:#fe4324;z-index:3;">
                    <img id="dltBonus_backbtn" src="images/huodong/nav_icon_return.png" alt="返回">
                    <img id="regsendBlt_shareObj" src="images/huodong/fenx.png" alt="分享">
                </p>
            </div>
        </header>
        <section id="sec_jsk3">
            <!-- <img class="img_jsk3" src="images/huodong/bg.png" alt="#"> -->
            <div class="jsk_div">
                <div class="js_gz" >
                    <table border="1">
                        <tr>
                            <th>玩法</th>
                            <th>原奖金</th>
                            <th>加奖金额</th>
                            <th>加奖后奖金</th>
                        </tr>
                        <tr>
                            <td>和值<br/>4或17</td>
                            <td>80</td>
                            <td>20</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>和值<br/>5或16</td>
                            <td>40</td>
                            <td>10</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>和值<br/>6或15</td>
                            <td>25</td>
                            <td>5</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>和值<br/>7或14</td>
                            <td>16</td>
                            <td>4</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>和值<br/>8或13</td>
                            <td>12</td>
                            <td>2</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>和值<br/>9或12</td>
                            <td>10</td>
                            <td>2</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>和值<br/>10或11</td>
                            <td>9</td>
                            <td>2</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>三同号<br/>通选</td>
                            <td>40</td>
                            <td>10</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>三同号<br/>单选</td>
                            <td>240</td>
                            <td>60</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>三连号<br/>通选</td>
                            <td>10</td>
                            <td>2</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>二同号<br/>复选</td>
                            <td>15</td>
                            <td>4</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>二同号<br/>单选</td>
                            <td>80</td>
                            <td>20</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>三不<br/>同号</td>
                            <td>40</td>
                            <td>10</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>二不<br/>同号</td>
                            <td>8</td>
                            <td>2</td>
                            <td>10</td>
                        </tr>
                    </table>
                </div>
                <div class="hd_gz">
                    <p>自2018年6月1日至6月5日，如果期间1亿元用完，则次日派奖活动停止;如果6月5日最后一期结束后1亿元派奖奖金没有用完，则派奖时间顺延至1亿元用完后次日停止。</p>
                    <p>最终解释权归本公司所有。</p>
                </div>
            </div>
        </section>
        <footer class="foo_fixed">
            <p id="js_click">立即投注</p>
        </footer>
    </div>
</body>

</html>

