<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>


</head>
<body>
<div class="wrapper">
	<header class="header">
		<p class="head_lf" id="protocol_backbtn"><a href="javascript:void(0)" class="backicon icon"></a></p>
		<h3 class="head_cn">服务协议</h3>
	</header>
	<section class="centerWrap" >
		<div class="playrules font12">
			<h3 class="center pt15 font14"><strong>服务协议</strong></h3>
            <p style="text-align:center;" class="w94 mt10">
                <strong>郑重提示：请您理性参与彩票，量力而为。<br/>禁止未满18周岁的青少年使用本服务。</strong>
            </p>
            <!-- <span class="s_nam"></span>  -->
            <p class="w94 mt10">
                <strong>【导言】</strong><br/>
                欢迎您使用深圳易视彩科技有限公司提供的平台（以下简称“本平台”）服务！<br/>
                <strong>
                    本协议是您与本平台之间关于您使用本平台服务所订立的协议。为使用本平台服务，您应当 阅读并遵守《平台服务协议>(以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，并选择接受或不接受。特别提示您的条款可能以黑体加粗形式提示您注意。在本平台登记注册的 用户，并同意以下条款，方可使用本平台提供的相关服务，并受本协议条款的约束。用户使用本平台服务即意味着同意本协议，使用前请认真阅读。请 保证您在使用本服务时已满18周岁，且具有完全 的民事行为能力。
                </strong>
            </p>
            <!-- <p class="w94 mt10"><strong>禁止未满18周岁的青少年使用本服务。</strong></p> -->
            <p class="w94 mt10">
                　　<strong>一、相关定义</strong><br/>
                　　1.    本协议内容同时包括《平台服务协议》以及平台上的各项业务规则、通知、公告，且用户在使用 本平台某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为“单独 协议”）。上述内容一经正式发布，即为本协议不可分割的组成部分，用户同样应当遵守。用户对前述任何业务规则、单独协议的接受，即视为您对本协议全部的接受。<br/>
                    2.    “用户”（以下也称“您”），指通过本平台或其合作伙伴所提供的账号体系在平台
                进行注册、登录的自然人。<br/>
                    3.  “平台”（以下也称“本平台”），是指由本平台提供的平台技术服务和支持供用
                户进 行彩票方案信息交流，向用户提供参加特定营销活动以及使用彩票推广、营销以及
                渠道服务等与彩票业务有关的软件及网站如平台有变更的（包括但不限于其名称、logo、域名等），以本平台公布的信息为准。<br/>
                    4.  “平台服务”（以下也称“本服务”），是指由本平台依托平台向用户提供彩票资
                讯、 进行彩票信息交流、流量平台、流转彩票方案信息的平台技术服务。本服务具体服务内容以本平台实际提供的为准。<br/>
                    5.  “方案”，是指用户根据彩票发行机构公布的彩种游戏规则提交彩票的具体内容，方案
                中奖与否以官方公布的中奖结果为准。<br/>

                　　<strong>二、【注册规则】</strong><br/>
                　　1.    本平台注册资料包括但不限于用户在本平台上的昵称、头像，以及用户在本平台提交的、可用来 识别用户身份的其他信息资料，包括更新注册资料 时输入的所有信息。<br/>
                    2.  用户在本平台登记注册时，承诺遵守法律法规、社会主义制度、国家利益、公民合法
                权益、公 共秩序、社会道德风尚和信息真实性等七个原则，不在其注册资料中出现违法和不良信息，且用户保 证其在注册和使用帐号时，不得有以下情形：<br/>
                (1) 违反宪法或法律法规规定的；<br/>
                (2) 危害国家安全，泄露国家秘密，颠覆国家政 权，破坏国家统一的；<br/>
                (3) 损害国家荣誉和利益的，损害公共利益的；<br/>
                (4) 煽动民族仇恨、民族歧视，破坏民族团结 的；<br/>
                (5) 破坏国家宗教政策，宣扬邪教和封建迷信 的；<br/>
                (6) 散布谣言，扰乱社会秩序，破坏社会稳定 的；<br/>
                (7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖 或者教唆犯罪的；<br/>
                (8) 侮辱或者诽谤他人，侵害他人合法权益的；<br/>
                (9) 含有法律、行政法规禁止的其他内容的。<br/>
                <strong>
                    3.  若用户提供给本平台的注册资料不准确，不真实，含有违法或不良信息的，本平台有
                权不予注 册，并保留终止用户使用本平台各项服务的权利。若用户以虚假信息骗取帐号注册或帐号头像、个人 简介等注册资料存在违法和不良信息的，本平台有权采取通知限期改正、暂停使用、注销登记等措 施。对于冒用关联机构或社会名人注册帐号名称的，本平台有权注销该帐号，并向相关监管部门进 行报告。<br/>
                    4.  根据相关法律、法规规定以及考虑到本平台服 务的重要性，用户同意：<br/>
                (1) 在登记注册本平台帐号时，提交个人真实、 有效的身份信息；<br/>
                (2) 提供及时、详尽及准确的帐户注册资料；<br/>
                (3) 不断更新注册资料，以符合及时、详尽准确 的要求。<br/>
                    5.  保护用户个人信息<br/>
                (1)保护用户个人信息是本平台的一项基本原则，本平台将会采取合理的措施保护用 户的个人信息。除法律法规规定或本协议约定的的情形外，未经用户许可本平台不会向第三方 公开、透露、使用用户个人信息。本平台对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。您在注册帐号或使用本服务的过程中，可能需要提供一些必要的信息，例如：为向 您提供帐号注册服务或进行用户身份识別，需要您填胃手机号码~真实姓名~身份证号码等信息•若 国家法律法规或政策有特殊规定的，您需要提供真实的身份信息等个人信息。若您提供的信息不完整，则无法使用本服务或在使用过程中受到限制。
                <br/>
                (2) 您知悉并同意，为验证您提供的身份信息及您在注册账号、兑奖时所提交的其他信息的真实性，本平台有权自主或委托合作机构将您提供的相关信息提供给有能力进行身份验证服务的第三方（以下称“验证机构”，包括但不限于依法运营政府部门数据库、商业化数据库以及系统的第三方机构）进行比对、核实、校验、验证等处理，并有权根据验证机构反馈的验证结果来决定是否为您提供本服务。如验证机构反馈的验证结果为不一致或不存在（即您提供的信息与您留存在验证机构的信息不一致或验证机构无法查询到您提供的信息的），本平台有权拒绝为您提供本服务。<br/>
                (3) 您在此同意有关个人信息处理的约定,授权本平台对您的个人信息进行处理，授权本平台及与本平台合作的验证机构实施前款规定的行为<br/>
                </strong>
                　　<strong>三、【使用规则】</strong><br/>
                　　1.  本平台所提供服务的彩票均为经国家财政部批准发行的彩票品种，任一彩种的游戏规则以发行机构所公布的官方规则为准。<br/>
                    2.  本平台所显示的日期与时间为北京时间，用户提交方案时间以本平台服务系统的服务
                器时间为准。<br/>
                    3.  用户明确同意委托本平台提交方案。<strong>用户成功在本平台提交方案并支付后不
                代表彩票已经下单成功，由彩票终端系统提交方案、兑奖处理，处理周期根据不同彩票品种的操作难易性而定，订单状态 中将明示订单处理情况。</strong><br/>
                    4.  本平台的截止时间会提前于彩票终端系统的彩票销售截止时间，以作为彩票方案传递
                、处理的冗 余时间，具体提前量根据不同彩票品种而定。彩票终端系统指，彩票中心为开展彩票的销售、兑奖等业务，进行数据统计、管理，开奖、兑奖管理以及彩票资金管理等的系统。<br/>
                <strong>
                    5.  为保陣用户的合法权益，避免在中奖时因用户注册资料与真实情况不符而发生纠纷，
                请用户确保其提供的真实姓名、身份证号码及手机号码等的真实、有效及合法性。对因用户未能提供真实、有效的信息等用户自身原因而造成的不能兑奖、不能提取现金等使用本平台服务的情况，本平台不负责任。用户提供的真实准确的个人信息将作为认定其与彩票的关联性以及用户身份的唯一证据。如果用户提供的资料包含有不真实的信息，本平台保留终 止该用户继续使用服务资格的权利。</strong>
                    6.  根据国家规定，禁止未满18周岁(未成年)者使用本平台。<br/>
                <strong>四、提交方案流程</strong><br/>
                　　1.    本平台不向用户收取任何形式的服务费。成功提交方案以本平台在用户可查看的订单页面显示 的“等待开奖”为依据。用户可查看彩票交易“订单号”状态，核对彩票方案状态。<br/>
                    2.  本平台遵照国家相关彩票发行管理机构颁布之彩票销售规定完成彩票相关服务，服务
                截止时间以 网站公布的截止时间为准。<br/>
                    3.  每期彩票开奖完成后，本平台将公布开奖号码情况，兑奖请参照下述相关条款执行。
                本平台不对 开奖号码的准确性、完整性、及时性承担任何明示 或默示的担保责任。<br/>
                <strong>
                    4.  因包括但不限于断电、网络通讯故障、彩累终端系统原因、超过当期方案提交截止时
                间、未成功 付款、所提交方案被限号、倍数限制等原因，未能完成方案提交的，视为提交方案失败；若提交方案中，有部分未成功提交而撤单的，撤单部分视为部分提交方案失败，以页面显示的订单状态结果为 准。方案失败不会扣除用户任何费用，部分方案失败则不会扣除用户部分失败方案的费用，如有扣除 本平台会及时返还。本平台对方案失败不承担责任。
                </strong><br/>
                    5.  您理解并同意，因本协议产生的任何纠纷，本平台承担的责任仅限于向用户返还受影
                响彩票方案 所对应支付的款项。<br/>

                　　<strong>五、【追号说明】</strong><br/>
                　　1.    追号服务指本平台按用户提交的方案，连续多期帮助用户向同一个（组）指定号码提供传递其提 交方案的服务。在默认勾选中奖即停服务下，用户可以选择提前预定一个（组）号码进行多期提交方 案，在中奖后自动取消掉后面提交的方案。<br/>
                    2.  用户在线发出追号方案，提交自选号码、期次、是否基于中奖而终止追号等具体服务
                要求，并根据本平台提供的支付方式进行付款，付款金额为完成该笔追号方案所需的资金总额。<br/>
                    3.  本平台将于用户付款后开始执行该订单，完成 追号的服务。<br/>
                    4.  用户可选择中奖后系统自动停止追号服务，即如果中奖，则追号方案订单中的剩余期
                次提交的方案将停止。<br/>
                    5.  用户使用追号服务的同时，不影响其使用本平台其他服务。<br/>
                <strong>六、【不可抗力及其他免责事由】</strong><br/>
                <strong>
                    1.  您理解并同意，在使用本服务的过程中-可能会遇到不可抗力等风险因素，使本服务
                发生中断。 不可抗力是指不能预见、不能克服并不能避免且对—方或双方造成重大影响的客观事件，包括但不限 于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情 况时，本平台将努力在第一时间与相关单位配合，及时进行修复，但是由此给您造成的损失本平台在法律允许的范围内免责。<br/>
                    2.  在法律允许的范围内，本平台对您基于以下情形导致的服务中断或受阻不承担
                责任：<br/>
                (1) 受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；<br/>
                (2) 用户或本平台的电脑软件、系统、硬件和通信线路出现故障；<br/>
                (3) 用户操作不当；<br/>
                (4) 用户通过非本平台授权的方式使用本服务；<br/>
                (5) 因第三方原因造成的.包括但不限于为用户提供网络服务、支付服务等的第三主体；<br/>
                (6) 其他本平台无法控制或合理预见的情 形。<br/>
                    3.  您理解并同意，在使用本服务的过程中，可能会遇到网络信息或其他用户行为带来的
                风险，本平台不对任何信息的真实性、适用性、合法性承担责任，也不对因侵权行为给您造成的损害负 责。这些风险包括但不限于：<br/>
                (1) 来自他人匿名或冒名的含有威胁、诽镑、令 人反感或非法内容的信息；<br/>
                (2) 因使用本协议项下的服务，遭受他人误导、 欺骗或其他伤害；<br/>
                (3) 其他因网络信息或用户行为引起的风险。
                </strong><br/>
                    4.  本平台依据本协议约定获得处理违法违规内容的权利，该权利不构成本平台的义务 或承诺，本平台不能保证及时发现违法行为或进行相应处理<br/>
                <strong>
                    5.  本平台仅根据本协议为用户提供技平台技术服务。本平台不是用户、彩
                票销售主体的代理商、合伙人、雇员或雇主等经营关系人，通过本服务展示的彩票均为合法的彩票销隹主体向用户提供，而非本平台。因此，用户如果因使用本服务或与彩票销售主体进行交易，而受有损害时，本平台不负补偿或赔偿责任。在本平台上发生的任何有关彩累的咨询、交流、投诉、纠纷等（包括但不限于提交方案、兑奖等事宜）均由彩票销售主体负责解决，本平台不承担责任，但本平台可尽合理的努力协调处理，以尽力 保护您的合法权益。
                </strong><br/>
                6.  在法律允许的范围内,本平台对您基于以下情形导致的纠纷或损失不承担责任：<br/>
                    (1) 由于用户将账户密码告知他人或与他人共享帐户，由此导致的任何个人资料泄露，以
                及由此产 生的纠纷及损失；<br/>
                    (2) 任何由于黑客攻击、计算机病毒侵入或发作、网络供应商原因、因政府管制而造成的
                暂时性 关闭等影响网络正常经营之不可抗力而造成的您个人资料或方案泄露、丢失、被盗用、被篡改等，以 及由此产生的纠纷及损失；<br/>
                    (3) 由于彩票发行中心在彩票销售过程中，临时更改玩法造成用户提交方案失败产生的纠
                纷及损 失；<br/>
                    (4) 本平台定期检查，或更新软硬件而造成的服务中断，或突发性的软硬件设备与电子通
                信设备故 障产生的纠纷及损失；<br/>
                    (5) 其他非本平台自身原因造成的未能成功完成方案提交、兑奖等产生的纠纷及损失，如
                国家法律 法规、规章要求或彩票发行中心上级主管部门要求取消或暂停前述全部或部分服务而导致您损失的。<br/>
                <strong>七、【其他】</strong><br/>
                <strong>
                    1.    您使用本服务即视为您已阅读并同意受本协议的约束。本平台可更新本协议
                条款，您可以在本平台的最新版本中查阅相关协议条款。本协议条款变更后，如果您继续使用本服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用本服务。</strong><br/>
                    2.  您知悉并同意，本平台有权在单方通知您的前提下，将本协议中本平台
                的权利和义务一并概括转让给本平台的关联公司或本平台指定的公司，具体受让的关联公司或本平台指定的公司以本平台通知为准，上述转让_经本平台通知即生效。<br/>
                    3.  本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（
                不包括冲突法）。<br/>
                <strong>
                    4.  若您和本平台之间因本协议发生任何纠纷或争议，首先应友好协商解决；协商
                不成的，您同意将纠纷或争M交本协议签订地有管辖权的人民法院管辖。本协议签订地为深圳市龙华区。
                </strong><br/>
                    5.  本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释
                的依据。<br/>
                    6.  本协议条款无论因何种原因部分无效或不可执行,其余条款仍有效,对双方具有约束力。<br/>
                    7.  如用户对本规则有任何疑问，请登录获取相关信息或联系本平台客服4008550921,本平
                台将为您 提供7*12小时服务。<br/>
                　　<strong>本协议解释权归<span class="s_nam"></span>，如有疑问请进入到在线服务咨询。</strong><br/><br/>
            </p>
		</div>
	</section>
</div>
</body>

</html>